In [8]:
import pandas as pd
!pip install mlxtend
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

#nested list
dataset = [['Milk','Onion','Nutmeg','Eggs','Yogurt'],
           ['Onion','Nutmeg', 'Eggs','Yogurt'],
           ['Milk','Apple','Eggs'],
           ['Corn','Onion', 'Onion','Ice cream','Eggs']]

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary,columns= te.columns_)

Requirement already satisfied: mlxtend in c:\users\suhye\anaconda3\lib\site-packages (0.19.0)
Requirement already satisfied: scipy>=1.2.1 in c:\users\suhye\anaconda3\lib\site-packages (from mlxtend) (1.6.2)
Requirement already satisfied: setuptools in c:\users\suhye\anaconda3\lib\site-packages (from mlxtend) (52.0.0.post20210125)
Requirement already satisfied: numpy>=1.16.2 in c:\users\suhye\anaconda3\lib\site-packages (from mlxtend) (1.20.1)
Requirement already satisfied: pandas>=0.24.2 in c:\users\suhye\anaconda3\lib\site-packages (from mlxtend) (1.2.4)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\suhye\anaconda3\lib\site-packages (from mlxtend) (1.0.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\suhye\anaconda3\lib\site-packages (from mlxtend) (3.3.4)
Requirement already satisfied: joblib>=0.13.2 in c:\users\suhye\anaconda3\lib\site-packages (from mlxtend) (1.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\suhye\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\suhye\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\suhye\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.2.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\suhye\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\suhye\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\suhye\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\suhye\anaconda3\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Requirement already satisfied: six in c:\users\suhye\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.15.0)

In [9]:
df.head()

   Apple   Corn  Eggs  Ice cream   Milk  Nutmeg  Onion  Yogurt
0  False  False  True      False   True    True   True    True
1  False  False  True      False  False    True   True    True
2   True  False  True      False   True   False  False   False
3  False   True  True       True  False   False   True   False

In [11]:
f_items = apriori(df, min_support=0.2, use_colnames=True)
f_items.head()

   support     itemsets
0     0.25      (Apple)
1     0.25       (Corn)
2     1.00       (Eggs)
3     0.25  (Ice cream)
4     0.50       (Milk)

In [12]:
association_rules(f_items,metric='lift',min_threshold=1)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Apple),(Eggs),0.25,1.00,0.25,1.000000,1.000000,0.0000,inf
1,(Eggs),(Apple),1.00,0.25,0.25,0.250000,1.000000,0.0000,1.000
2,(Apple),(Milk),0.25,0.50,0.25,1.000000,2.000000,0.1250,inf
3,(Milk),(Apple),0.50,0.25,0.25,0.500000,2.000000,0.1250,1.500
4,(Corn),(Eggs),0.25,1.00,0.25,1.000000,1.000000,0.0000,inf
...,...,...,...,...,...,...,...,...,...
227,(Yogurt),"(Milk, Nutmeg, Onion, Eggs)",0.50,0.25,0.25,0.500000,2.000000,0.1250,1.500
228,(Nutmeg),"(Yogurt, Milk, Onion, Eggs)",0.50,0.25,0.25,0.500000,2.000000,0.1250,1.500
229,(Eggs),"(Yogurt, Nutmeg, Onion, Milk)",1.00,0.25,0.25,0.250000,1.000000,0.0000,1.000
230,(Onion),"(Yogurt, Nutmeg, Milk, Eggs)",0.75,0.25,0.25,0.333333,1.333333,0.0625,1.125
231,(Milk),"(Yogurt, Nutmeg, Onion, Eggs)",0.50,0.50,0.25,0.500000,1.000000,0.0000,1.000